In [1]:
import pandas as pd
import psycopg2
import plotly.express as px
import nbformat
import requests
import json
import ssl
import urllib3

In [12]:
# Data frame creation

# sql connection

mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="8997",
                        database="phonepe_data",
                        port="5432")
cursor=mydb.cursor()

#aggregated_insurance_df

cursor.execute("SELECT * FROM aggregated_insurance")
mydb.commit()
table1 = cursor.fetchall()

Aggre_insurance = pd.DataFrame(table1,columns=("States","Years","Quarter",
                                               "Transaction_type","Transaction_count","Transaction_amount"))


#aggregated_transaction_df

cursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
table2 = cursor.fetchall()

Aggre_transaction = pd.DataFrame(table2,columns=("States","Years","Quarter",
                                               "Transaction_type","Transaction_count","Transaction_amount"))


#aggregated_user_df

cursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
table3 = cursor.fetchall()

Aggre_user = pd.DataFrame(table3,columns=("States","Years","Quarter",
                                               "Brands","Transaction_count","Percentage"))


#agmap_insurance_df

cursor.execute("SELECT * FROM map_insurance")
mydb.commit()
table4 = cursor.fetchall()

map_insurance = pd.DataFrame(table4,columns=("States","Years","Quarter",
                                               "Districts","Transaction_count","Transaction_amount"))

#map_transaction_df

cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table5 = cursor.fetchall()

map_transaction = pd.DataFrame(table5,columns=("States","Years","Quarter",
                                               "Districts","Transaction_count","Transaction_amount"))


#map_user_df

cursor.execute("SELECT * FROM map_user")
mydb.commit()
table6 = cursor.fetchall()

map_user = pd.DataFrame(table6,columns=("States","Years","Quarter",
                                               "Districts","RegisteredUsers","AppOpens"))


#top_insurance_df

cursor.execute("SELECT * FROM top_insurance")
mydb.commit()
table7 = cursor.fetchall()

top_insurance = pd.DataFrame(table7,columns=("States","Years","Quarter",
                                               "pincodes","Transaction_count","Transaction_amount"))


#top_transaction_df

cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table8 = cursor.fetchall()

top_transaction = pd.DataFrame(table8,columns=("States","Years","Quarter",
                                               "pincodes","Transaction_count","Transaction_amount"))


#top_user_df

cursor.execute("SELECT * FROM top_user")
mydb.commit()
table9 = cursor.fetchall()

top_user = pd.DataFrame(table9,columns=("States","Years","Quarter",
                                               "pincodes","RegisteredUsers"))

In [13]:
# sql connection
def top_chart_transaction_amount(table_name):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="8997",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

# plot_1 

    query1 = f'''SELECT states,SUM(transaction_amount) AS transaction_amount
            FROM {table_name}
            GROUP BY states
            ORDER BY transaction_amount DESC
            LIMIT 10;'''
            
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=("states", "transaction_amount"))

    fig_amount_1 = px.bar(df_1, x="states", y="transaction_amount", title=" State vise Transaction_amount TOP 10",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=450, width=400)

    fig_amount_1.show()

#plot_2

    query2 = f'''SELECT states,SUM(transaction_amount) AS transaction_amount
            FROM {table_name}
            GROUP BY states
            ORDER BY transaction_amount 
            LIMIT 10;'''
            
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns=("states", "transaction_amount"))

    fig_amount_2 = px.bar(df_2, x="states", y="transaction_amount", title=" State vise Transaction_amount LEAST 10",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=450, width=400)

    fig_amount_2.show()

# plot_3

    query3 = f'''SELECT states, AVG(transaction_amount) AS transaction_amount
            FROM {table_name}
            GROUP BY states
            ORDER BY transaction_amount '''
            
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns=("states", "transaction_amount"))

    fig_amount_3 = px.bar(df_3, x="transaction_amount", y="states", title=" State vise Transaction_amount AVERAGE",hover_name="states",
                      orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=450, width=400)

    fig_amount_3.show()

In [ ]:
top_chart_transaction_amount("aggregated_transaction")

In [20]:
# sql connection
def top_chart_transaction_count(table_name):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="8997",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

# plot_1 

    query1 = f'''SELECT states,SUM(transaction_count) AS transaction_count
            FROM {table_name}
            GROUP BY states
            ORDER BY transaction_count DESC
            LIMIT 10;'''
            
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=("states", "transaction_count"))

    fig_amount_1 = px.bar(df_1, x="states", y="transaction_count", title=" State vise Transaction_Count TOP 10",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)

    fig_amount_1.show()

#plot_2

    query2 = f'''SELECT states,SUM(transaction_count) AS transaction_count
            FROM {table_name}
            GROUP BY states
            ORDER BY transaction_count 
            LIMIT 10;'''
            
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns=("states", "transaction_count"))

    fig_amount_2 = px.bar(df_2, x="states", y="transaction_count", title=" State vise Transaction_Count LEAST 10",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)

    fig_amount_2.show()

# plot_3

    query3 = f'''SELECT states, AVG(transaction_count) AS transaction_count
            FROM {table_name}
            GROUP BY states
            ORDER BY transaction_count '''
            
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns=("states", "transaction_count"))

    fig_amount_3 = px.bar(df_3, x="transaction_count", y="states", title=" State vise Transaction_Count AVERAGE",hover_name="states",
                      orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=900, width=1000)

    fig_amount_3.show()

In [ ]:
top_chart_transaction_count("aggregated_insurance")

In [25]:
# sql connection
def top_chart_registered_user(table_name, state):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="8997",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

# plot_1 

    query1 = f'''SELECT districts,SUM(registeredusers) AS registeredusers 
                 FROM {table_name}
                 WHERE states = '{state}'
                 GROUP BY districts
                 ORDER BY registeredusers DESC
                 LIMIT 10;'''
            
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=("districts", "registeredusers"))

    fig_amount_1 = px.bar(df_1, x="districts", y="registeredusers", title=" TOP 10 of District Vise Registered User",hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)

    fig_amount_1.show()

#plot_2

    query2 = f'''SELECT districts,SUM(registeredusers) AS registeredusers 
                 FROM {table_name}
                 WHERE states = '{state}'
                 GROUP BY districts
                 ORDER BY registeredusers
                 LIMIT 10;'''
            
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns=("districts", "registeredusers"))

    fig_amount_2 = px.bar(df_2, x="districts", y="registeredusers", title="LEAST 10 of District Vise Registered User ",hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)

    fig_amount_2.show()

# plot_3

    query3 = f'''SELECT districts, AVG(registeredusers) AS registeredusers 
                 FROM {table_name}
                 WHERE states = '{state}'
                 GROUP BY districts
                 ORDER BY registeredusers;'''
            
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns=("districts", "registeredusers"))

    fig_amount_3 = px.bar(df_3, x="registeredusers", y="districts", title="AVERAGE of District Vise Transaction_amount ",hover_name="districts",
                      orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=900, width=1000)

    fig_amount_3.show()

In [ ]:
top_chart_registered_user("map_user", "Tamil Nadu")

In [27]:
# sql connection
def top_chart_appopens(table_name, state):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="8997",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

# plot_1 

    query1 = f'''SELECT districts,SUM(appopens) AS appopens 
                 FROM {table_name}
                 WHERE states = '{state}'
                 GROUP BY districts
                 ORDER BY appopens DESC
                 LIMIT 10;'''
            
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=("districts", "appopens"))

    fig_amount_1 = px.bar(df_1, x="districts", y="appopens", title=" TOP 10 of District Vise APPOPENS",hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)

    fig_amount_1.show()

#plot_2

    query2 = f'''SELECT districts,SUM(appopens) AS appopens 
                 FROM {table_name}
                 WHERE states = '{state}'
                 GROUP BY districts
                 ORDER BY appopens
                 LIMIT 10;'''
            
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns=("districts", "appopens"))

    fig_amount_2 = px.bar(df_2, x="districts", y="appopens", title="LEAST 10 of District Vise APPOPENS ",hover_name="districts",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)

    fig_amount_2.show()

# plot_3

    query3 = f'''SELECT districts, AVG(appopens) AS appopens 
                 FROM {table_name}
                 WHERE states = '{state}'
                 GROUP BY districts
                 ORDER BY appopens;'''
            
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns=("districts", "appopens"))

    fig_amount_3 = px.bar(df_3, x="appopens", y="districts", title="AVERAGE of District Vise APPOPENS ",hover_name="districts",
                      orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=900, width=1000)

    fig_amount_3.show()

In [ ]:
top_chart_appopens("map_user", "Tamil Nadu")

In [29]:
# sql connection
def top_chart_registered_users(table_name):
    mydb=psycopg2.connect(host="localhost",
                        user="postgres",
                        password="8997",
                        database="phonepe_data",
                        port="5432")
    cursor=mydb.cursor()

# plot_1 

    query1 = f'''SELECT states,SUM(registeredusers) AS registeredusers 
                 FROM {table_name}
                 GROUP BY states
                 ORDER BY registeredusers DESC
                 LIMIT 10;'''
            
    cursor.execute(query1)
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=("states", "registeredusers"))

    fig_amount_1 = px.bar(df_1, x="states", y="registeredusers", title=" TOP 10 of State Vise Registered User",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=650, width=600)

    fig_amount_1.show()

#plot_2

    query2 = f'''SELECT states,SUM(registeredusers) AS registeredusers 
                 FROM {table_name}
                 GROUP BY states
                 ORDER BY registeredusers 
                 LIMIT 10;'''
            
    cursor.execute(query2)
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns=("states", "registeredusers"))

    fig_amount_2 = px.bar(df_2, x="states", y="registeredusers", title="LEAST 10 of State Vise Registered User ",hover_name="states",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)

    fig_amount_2.show()

# plot_3

    query3 = f'''SELECT states,AVG(registeredusers) AS registeredusers 
                 FROM {table_name}
                 GROUP BY states
                 ORDER BY registeredusers;'''
            
    cursor.execute(query3)
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns=("states", "registeredusers"))

    fig_amount_3 = px.bar(df_3, x="registeredusers", y="states", title="AVERAGE of State Vise Transaction_amount ",hover_name="states",
                      orientation="h",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=900, width=1000)

    fig_amount_3.show()

In [ ]:
top_chart_registered_users("top_user")

In [111]:
def Transaction_amount_count_Y(df, year):
    tacy = df[df["Years"]==year]
    tacy.reset_index(drop=True, inplace=True)

    tacyg = tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount = px.bar(tacyg, x="States", y="Transaction_amount", title=f"{year} State vise Transaction_amount",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=450, width=400)

    fig_amount.show()

    fig_count = px.bar(tacyg, x="States", y="Transaction_count", title=f"{year} State vise Transaction_count",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=450, width=400)

    fig_count.show()
    
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response = requests.get(url)
    data1 = json.loads(response.content)

    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
        
    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson=data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_amount",
                                color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name= "States",
                                title= f"{year} TRANSACTION AMOUNT",
                                fitbounds= "locations",
                                height=600, width=600)
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()
    
    fig_india_2 = px.choropleth(tacyg, geojson=data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_count",
                                color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name= "States",
                                title= f"{year} TRANSACTION COUNT",
                                fitbounds= "locations",
                                height=600, width=600)
    fig_india_2.update_geos(visible=False)
    fig_india_2.show()
    
    return tacy

In [ ]:
tac_Y = Transaction_amount_count_Y(Aggre_insurance, 2023)

In [113]:
def Transaction_amount_count_Y_Q(df, quarter):
    tacy = df[df["Quarter"]==quarter]
    tacy.reset_index(drop=True, inplace=True)

    tacyg = tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount = px.bar(tacyg, x="States", y="Transaction_amount", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl, height=450, width=400)

    fig_amount.show()

    fig_count = px.bar(tacyg, x="States", y="Transaction_count", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT",
                        color_discrete_sequence=px.colors.sequential.Bluered_r, height=450, width=400)

    fig_count.show()
    
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response = requests.get(url,verify=False)
    data1 = json.loads(response.content)

    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
        
    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson=data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_amount",
                                color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name= "States",
                                title= f"{tacy['Years'].min()} Year {quarter} QUARTER TRANSACTION AMOUNT",
                                fitbounds= "locations",
                                height=600, width=600)
    fig_india_1.update_geos(visible=True)
    fig_india_1.show()
    
    fig_india_2 = px.choropleth(tacyg, geojson=data1, locations= "States", featureidkey= "properties.ST_NM",
                                color= "Transaction_count",
                                color_continuous_scale= "Rainbow",
                                range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name= "States",
                                title= f"{tacy['Years'].min()} Year {quarter} QUARTER TRANSACTION COUNT",
                                fitbounds= "locations",
                                height=600, width=600)
    fig_india_2.update_geos(visible=False)
    fig_india_2.show()
    
    return tacy

In [114]:
#Tran

def Aggree_Tran_Transaction_type(df, state):

    tacy = df[df["States"] == state ]
    tacy.reset_index(drop=True, inplace=True)

    tacyg = tacy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_pie_1 = px.pie(data_frame= tacyg, names="Transaction_type", values= "Transaction_amount",
                    width = 600, title = f"{state.upper()} TRANSACTION AMOUNT", hole= 0.5,)

    fig_pie_1.show()

    fig_pie_2 = px.pie(data_frame= tacyg, names="Transaction_type", values= "Transaction_count",
                    width = 600, title = f"{state.upper()} TRANSACTION COUNT", hole= 0.5,)

    fig_pie_2.show()

In [115]:
#Aggre_user_analysis_1

def Aggre_user_plot_1(df,year):

    aguy = df[df["Years"]==year]
    aguy.reset_index(drop=True, inplace=True)

    aguyg = pd.DataFrame(aguy.groupby("Brands")["Transaction_count"].sum())
    aguyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(aguy, x="Brands", y="Transaction_count", title= f"{year} BRANDS AND TRANSACTION COUNT",
                    width = 1000, color_discrete_sequence = px.colors.sequential.haline,
                    hover_name="Brands")
    fig_bar_1.show()
    
    return aguy

In [116]:
def Aggre_user_plot_2(df,quarter):

    aguyq = df[df["Quarter"]==quarter]
    aguyq.reset_index(drop=True, inplace=True)

    aguyqg = pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())
    aguyqg.reset_index(inplace=True)

    fig_bar_1 = px.bar(aguyq, x="Brands", y="Transaction_count", title= f"{quarter} BRANDS AND TRANSACTION COUNT",
                    width = 1000, color_discrete_sequence = px.colors.sequential.haline,
                    hover_name="Brands")
    fig_bar_1.show()
    
    return aguyq

In [117]:
def Aggre_user_plot_3(df, state):
    augygs = df[df["States"]== state]
    augygs.reset_index(drop=True, inplace=True)

    fig_line_1 = px.line(augygs, x="Brands", y="Transaction_count", hover_data="Percentage",
                        title ="BRANDS , TRANSACTION COUNT, PERCENTAGE",
                        width=1000, markers=True)
    fig_line_1.show()

In [118]:
#map_insurance_district

def Map_insur_Districts(df, state):

    tacy = df[df["States"] == state ]
    tacy.reset_index(drop=True, inplace=True)

    tacyg = tacy.groupby("Districts")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(tacyg, x="Transaction_amount", y= "Districts", orientation="h",height=600,
                       title=f"{state} DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence = px.colors.sequential.Mint_r)

    fig_bar_1.show()

    fig_bar_2 = px.bar(tacyg, x="Transaction_count", y= "Districts", orientation="h", height=600,
                       title=f"{state} DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence = px.colors.sequential.Bluered_r)

    fig_bar_2.show()

In [119]:
#map_user_plot_1
def Map_user_plot_1(df,year):

    muy = df[df["Years"]==year]
    muy.reset_index(drop=True, inplace=True)


    muyg= muy.groupby("States")[["RegisteredUsers", "AppOpens"]].sum()
    muyg.reset_index(inplace=True)

    fig_line_1 = px.line(muyg, x="States", y=["RegisteredUsers", "AppOpens"], 
                            title =f"{year} REGISTERED USER AND APPOPENS",
                            width=1000, height= 800, markers=True)
    fig_line_1.show()
    
    return muy

In [120]:
#map_user_plot_2
def Map_user_plot_2(df,quarter):

    muyq = df[df["Quarter"]==quarter]
    muyq.reset_index(drop=True, inplace=True)


    muyqg= muyq.groupby("States")[["RegisteredUsers", "AppOpens"]].sum()
    muyqg.reset_index(inplace=True)

    fig_line_2 = px.line(muyqg, x="States", y=["RegisteredUsers", "AppOpens"], 
                            title =f"{df['Years'].min()} YEAR {quarter} QUARTER REGISTERED USER AND APPOPENS",
                            width=1000, height= 800, markers=True,
                            color_discrete_sequence = px.colors.sequential.Rainbow_r)
    fig_line_2.show()
    
    return muyq

In [121]:
#map_user_plot_3
def Map_user_plot_3(df,state):

    muyqs = df[df["States"]==state]
    muyqs.reset_index(drop=True, inplace=True)
    muyqs

    fig_map_user_bar_1 = px.bar(muyqs, x="RegisteredUsers", y="Districts", orientation="h",
                                title= "REGISTERED USER", height= 800, color_discrete_sequence = px.colors.sequential.Rainbow_r)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2 = px.bar(muyqs, x="AppOpens", y="Districts", orientation="h",
                                title= "APPOPENS", height= 800, color_discrete_sequence = px.colors.sequential.Rainbow)
    fig_map_user_bar_2.show()

In [157]:
# Top_insurance_

def Top_insurance_plot_1(df,state):
    tiy = df[df["States"]== state]
    tiy.reset_index(drop=True, inplace=True)


    tiyg= tiy.groupby("pincodes")[["Transaction_count", "Transaction_amount"]].sum()
    tiyg.reset_index(inplace=True)

    fig_top_insur_bar1 = px.bar(tiy, x="Quarter", y="Transaction_amount",hover_data="pincodes",
                                    title= "TOP USER TRANSACTION AMOUNT", height= 650,width=600, color_discrete_sequence = px.colors.sequential.GnBu_r)

    fig_top_insur_bar1.show()
    
    fig_top_insur_bar2 = px.bar(tiy, x="Quarter", y="Transaction_count",hover_data="pincodes",
                                    title= "TOP USER TRANSACTION AMOUNT", height= 650,width=600, color_discrete_sequence = px.colors.sequential.Agsunset_r)

    fig_top_insur_bar2.show()

In [175]:
def Top_user_plot_1(df,year):
    tuy = df[df["Years"]== year]
    tuy.reset_index(drop=True, inplace=True)


    tuyg= pd.DataFrame(tuy.groupby(["States", "Quarter"])["RegisteredUsers"].sum())
    tuyg.reset_index(inplace=True)

    fig_top_plot_1 = px.bar(tuyg, x="States", y="RegisteredUsers",color="Quarter", hover_name="States",
                            width=1000, height= 800, color_discrete_sequence = px.colors.sequential.Burgyl,
                            title=f"{year} REGISTERED USER")

    fig_top_plot_1.show()
    
    return tuy

In [180]:
def Top_user_plot_2(df, state):
    tuys = df[df["States"]== state]
    tuys.reset_index(drop=True, inplace=True)

    fig_top_plot_2 = px.bar(tuys, x="Quarter", y="RegisteredUsers", title=f"{state} REGISTERED USERS AND PINCODES",
                            width=1000, height=800, color="RegisteredUsers", hover_data="pincodes",
                            color_continuous_scale = px.colors.sequential.Magenta)
    fig_top_plot_2.show()

## AGGREGATED_INSURANCE

In [ ]:
tac_Y = Transaction_amount_count_Y(Aggre_insurance, 2023)

In [ ]:
Transaction_amount_count_Y_Q(tac_Y, 3)

## AGGREGATED TRANSACTION

In [ ]:
Aggre_tran_tac_Y = Transaction_amount_count_Y(Aggre_transaction, 2023)

In [ ]:
Aggree_Tran_Transaction_type(Aggre_tran_tac_Y, "Arunachal Pradesh")

In [ ]:
Aggre_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Aggre_tran_tac_Y, 3)

In [ ]:
Aggree_Tran_Transaction_type(Aggre_tran_tac_Y_Q, "Arunachal Pradesh")

## AGGREGATED USER

In [ ]:
Aggre_user_Y = Aggre_user_plot_1(Aggre_user,2018)

In [ ]:
Aggre_user_Y

In [ ]:
Aggre_user_Y_Q = Aggre_user_plot_2(Aggre_user_Y,3)

In [ ]:
Aggre_user_Y_Q

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q,"Andaman & Nicobar")

### MAP INSURANCE

In [ ]:
Map_insur_tac_Y = Transaction_amount_count_Y(map_insurance, 2023)

In [ ]:
Map_insur_Districts(Map_insur_tac_Y, "West Bengal")

In [ ]:
Map_insur_tac_Y_Q = Transaction_amount_count_Y_Q(Map_insur_tac_Y, 3)

In [ ]:
Map_insur_Districts(Map_insur_tac_Y_Q, "Arunachal Pradesh")

### MAP TRANSACTION

In [ ]:
Map_tran_tac_Y = Transaction_amount_count_Y(map_transaction, 2023)

In [ ]:
Map_insur_Districts(Map_tran_tac_Y, "West Bengal")

In [ ]:
Map_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Map_tran_tac_Y, 3)

In [ ]:
Map_insur_Districts(Map_tran_tac_Y_Q, "Arunachal Pradesh")

### MAP USER

In [ ]:
Map_user_Y = Map_user_plot_1(map_user,2020)

In [ ]:
Map_user_Y_Q = Map_user_plot_2(Map_user_Y,2)

In [ ]:
Map_user_Y_Q

In [ ]:
Map_user_plot_3(Map_user_Y_Q,"West Bengal")

## TOP INSURANCE

In [ ]:
Top_insur_tac_Y = Transaction_amount_count_Y(top_insurance, 2023)

In [ ]:
Top_insurance_plot_1(Top_insur_tac_Y,"Andaman & Nicobar")

In [ ]:
Top_insur_tac_Y_Q = Transaction_amount_count_Y_Q(Top_insur_tac_Y, 3)

## TOP TRANSACTION

In [ ]:
Top_tran_tac_Y = Transaction_amount_count_Y(top_transaction, 2023)

In [ ]:
Top_insurance_plot_1(Top_tran_tac_Y,"Andaman & Nicobar")

In [ ]:
Top_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Top_tran_tac_Y, 3)

## TOP USER

In [ ]:
Top_user_Y = Top_user_plot_1(top_user, 2023)

In [ ]:
Top_user_plot_2(Top_user_Y, "Andaman & Nicobar")